Use External Services With a Flow/Access External Business Actions/force-app/main/default/flows/Bank_Account_Records.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Add_Bank_Account</name>
        <label>Add Bank Account</label>
        <locationX>498</locationX>
        <locationY>358</locationY>
        <actionName>BankService.addAccount</actionName>
        <actionType>externalService</actionType>
        <connector>
            <targetReference>Bank_Account_Updated</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>accountName</name>
            <value>
                <elementReference>Last_Name_on_Account</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>accountType</name>
            <value>
                <elementReference>Bank_Account_Type</elementReference>
            </value>
        </inputParameters>
        <nameSegment>BankService.addAccount</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>account</assignToReference>
            <name>201</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>existingAccount</assignToReference>
            <name>409Exc</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Existing_Bank_Account_ID</name>
        <label>Assign Existing Bank Account ID</label>
        <locationX>694</locationX>
        <locationY>520</locationY>
        <assignmentItems>
            <assignToReference>account.id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>existingAccount.id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Salesforce_User_Record</targetReference>
        </connector>
    </assignments>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <decisions>
        <name>Bank_Account_Updated</name>
        <label>Bank Account Updated?</label>
        <locationX>492</locationX>
        <locationY>527</locationY>
        <defaultConnector>
            <targetReference>Assign_Existing_Bank_Account_ID</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Bank Account Found</defaultConnectorLabel>
        <rules>
            <name>Bank_Account_Created</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>existingAccount</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Salesforce_User_Record</targetReference>
            </connector>
            <label>Bank Account Created</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Bank Account Records {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Bank Account Records</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordUpdates>
        <name>Update_Salesforce_User_Record</name>
        <label>Update Salesforce User Record</label>
        <locationX>589</locationX>
        <locationY>850</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LastName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Last_Name_on_Account</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Account_ID__c</field>
            <value>
                <elementReference>account.id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Account_Type__c</field>
            <value>
                <elementReference>Bank_Account_Type</elementReference>
            </value>
        </inputAssignments>
        <object>User</object>
    </recordUpdates>
    <screens>
        <name>Bank_Account_Record</name>
        <label>Bank Account Record</label>
        <locationX>499</locationX>
        <locationY>212</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Add_Bank_Account</targetReference>
        </connector>
        <fields>
            <name>Last_Name_on_Account</name>
            <dataType>String</dataType>
            <fieldText>Last Name on Account</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Bank_Account_Type</name>
            <dataType>String</dataType>
            <fieldText>Bank Account Type</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>543</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Bank_Account_Record</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>account</name>
        <apexClass>ExternalService__BankService_accountDetails</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>existingAccount</name>
        <apexClass>ExternalService__BankService_accountDetails</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
