Flow Implementation I/Avoid Flow Limits/force-app/main/default/flows/Create_Onboarding_Project_from_Opp.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_Step_to_Collection</name>
        <label>Add Step to Collection</label>
        <locationX>264</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>NewSteps</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>newProjectStep</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Project_Step_Details</name>
        <label>Set Project Step Details</label>
        <locationX>264</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>newProjectStep.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.Product2.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newProjectStep.Onboarding_Project__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>newProject.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newProjectStep.Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.Product2Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newProjectStep.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Planned</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Step_to_Collection</targetReference>
        </connector>
    </assignments>
    <description>Automatically create an Onboarding Project and its Steps from an Opportunity and its Products</description>
    <environments>Default</environments>
    <formulas>
        <description>The opp&apos;s Close Date plus 60 days</description>
        <name>TargetDate</name>
        <dataType>Date</dataType>
        <expression>{!$Record.CloseDate} + 60</expression>
    </formulas>
    <interviewLabel>Create Onboarding Project from Opp {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Onboarding Project from Opp</label>
    <loops>
        <description>Loop through all the opp products</description>
        <name>Loop</name>
        <label>Loop</label>
        <locationX>176</locationX>
        <locationY>647</locationY>
        <collectionReference>Get_Products</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Project_Step_Details</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Steps</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>Create an onboarding project from the opp/account info</description>
        <name>Create_Project</name>
        <label>Create Project</label>
        <locationX>176</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>Loop</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Queue.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Primary_Contact__c</field>
            <value>
                <elementReference>$Record.ContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source_Opportunity__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Target_Date__c</field>
            <value>
                <elementReference>TargetDate</elementReference>
            </value>
        </inputAssignments>
        <object>Onboarding_Project__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Steps</name>
        <label>Create Steps</label>
        <locationX>176</locationX>
        <locationY>1055</locationY>
        <inputReference>NewSteps</inputReference>
    </recordCreates>
    <recordLookups>
        <description>Retrieve all the products sold on the opportunity</description>
        <name>Get_Products</name>
        <label>Get Products</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Project</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Retrieve the ID for the Onboarders queue</description>
        <name>Get_Queue</name>
        <label>Get Queue</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Products</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Onboarders</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Queue</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>newProject</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Onboarding_Project__c</objectType>
    </variables>
    <variables>
        <name>newProjectStep</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Onboarding_Project_Step__c</objectType>
    </variables>
    <variables>
        <name>NewSteps</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Onboarding_Project_Step__c</objectType>
    </variables>
</Flow>
