Record-Triggered Flows/Add a Scheduled Task to Your Flow/flows/Review_Opportunity_with_Account_Owner.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <description>When a high-value opportunity is ready for negotiation and review, create a task for the owner to follow up with the account owner</description>
    <environments>Default</environments>
    <interviewLabel>Review Opportunity with Account Owner {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Review Opportunity with Account Owner</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>Create a task for the opportunity owner to send a follow email to the account owner today</description>
        <name>Create_Email_Task</name>
        <label>Create Email Task</label>
        <locationX>50</locationX>
        <locationY>288</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <dateValue>2023-03-05</dateValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Follow up with the account owner by email</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Create a task for the opportunity owner to check in with the customer by phone</description>
        <name>Create_Phone_Call_Task</name>
        <label>Create Phone Call Task</label>
        <locationX>314</locationX>
        <locationY>288</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <dateValue>2023-03-06</dateValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>Call to check in with the customer</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Outreach phone call</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Create_Email_Task</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Negotiation/Review</stringValue>
            </value>
        </filters>
        <filters>
            <field>Amount</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>100000.0</numberValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <name>X3_Days_After_Last_Modified_Date</name>
            <connector>
                <targetReference>Create_Phone_Call_Task</targetReference>
            </connector>
            <label>3 Days After Last Modified Date</label>
            <offsetNumber>3</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <recordField>LastModifiedDate</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
</Flow>
